{% extends "account/base.html" %}
{% from "macros.html" import render_form %}

{% block form %}
  <h2>{{ _('Authorization') }}</h2>
  <p>{{ _('Client') }} <strong>{{ client.name }}</strong> {{ _('is requesting') }}:</p>
  {% if scopes is defined and grant.scopes %}
    <ul>
      <li>{{ _('Access to public resources.') }}</li>
      {% for scope in grant.scopes %}
        <li>{{ _(scopes[scope]) }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form action="" method="post">
    {{ render_form(form) }}
    <button class="btn_act">{{ _('Authorize') }}</button>
	{% if not current_user %}
	  <div class="account_actions">
	    <a class="btn_reg" href="{{ url_for('account.signup') }}">{{ _('not registered yet?') }}</a>
	  </div>
	{% endif %}
  </form>
{% endblock %}
