{% extends "base.html" %}

{% block extrahead %}
  <style>
    .account{max-width:480px;margin-top:100px}
  </style>
{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
  <div class="account inner">
    <h2>{{ _('EACH OAuth Portal') }}</h2>
	<div class="account-info">
      <a class="btn" href="/">{{ _('Home') }}</a>
    </div>
    <div class="account-edit">
      <a href="{{ url_for('account.edit_base') }}" class="btn">{{ _('Edit base information') }}</a>
      <a href="{{ url_for('account.edit_password') }}" class="btn">{{ _('Edit password') }}</a>
      <a href="{{ url_for('account.edit_image') }}" class="btn">{{ _('Edit image') }}</a>
    </div>
  </div>
{% endblock %}
