{% extends "account/base.html" %}
{% from "macros.html" import render_form %}

{% block form %}
  <form action="" method="post">
    {{ render_form(form) }}
    <img class="form-field_img" src="/static/images/favicon.ico" alt="something" id="img" />
    <button class="btn_act">Sign Up</button>
  </form>
  <p>We won't send you any confirm emails.</p>
  <script>
  function encodeImageFileAsURL(file, callback) {
      if (file.type.search(/image\/(png|jpg|jpeg)/) === -1)
          return;
      var reader = new FileReader();
      reader.onloadend = function() {
        callback(reader.result);
      };
      reader.readAsDataURL(file);
  }
  </script>
{% endblock %}
