<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title>{% block title %}EACH OAuth Portal{% endblock %}</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
  {% for src in assets.base.styles %}
    <link rel="stylesheet" href="{{ src }}">
  {% endfor %}
  <script>{% include "ga.js" %}</script>
  {% block extrahead %}{% endblock %}
</head>
<body>
{% block nav %}
  <header class="head" style="margin-top:80px">
    <div class="inner">
      <h1>EACH OAuth Portal</h1>
      {% if current_user %}
	    <a class="btn" href="/" style="font-size:1.4em">Home</a>
      {% endif %}
    </div>
  </header>
{% endblock %}
{% block body %}{% endblock %}
</body>
</html>
