{% extends "base.html" %}

{% block body %}
  <section class="section">
    <div class="inner">
      {% if current_user %}
        <p>You are logged in as <strong>{{ current_user.name }}</strong></p>
        <div class="account_actions">
          <a href="{{ url_for('account.logout') }}" class="btn_sign">Sign Out</a>
		</div>
		{% if current_user.access_type == "admin" %}
		  <div class="account_actions">
            <a href="{{ url_for('client.list_clients') }}" class="btn">Apps</a>
		  </div>
		{% endif %}
      {% else %}
        <p>You need to log in.</p>
        <div class="account_actions">
          <a href="{{ url_for('account.login') }}" class="btn">Sign in</a>
          <a href="{{ url_for('account.signup') }}" class="btn">Sign up</a>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}
