body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", serif;
}

h1, h2, h3, strong {
  color: rgb(0, 0, 0);
}

a {
  color: rgb(0, 0, 0);
  word-wrap: break-word;
}

a:hover {
  color: #3e7fcb;
}

.head {
	font-size: 12px;
}

.inner {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: center;
}

.divide:after {
  display: block;
  margin: 40px auto;
  content: '';
  width: 100px;
  border-bottom: 4px solid lightgrey;
}

.btn {
  display: inline-block;
  padding: .25em 2em;
  margin: 1em;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  text-decoration: none;
  color: rgb(66, 31, 25);
  border: 2px solid rgb(217, 146, 92);
  border-radius: 4px;
  transition: background-color .1s;
}

.btn:hover {
  color: #fff;
  border-color: rgb(217, 146, 92);
  background-color: rgb(217, 146, 92);
}

.form-field {
  display: block;
  margin-bottom: 20px;
}

.form-field label {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 6px;
}

.form-field_input {
  display: block;
  background: white;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid lightgrey;
  box-sizing: border-box;
  color: #333;
  outline: none;
  cursor: text;
  width: 100%;
  line-height: 1;
  padding: 8px;
  margin: 0 auto;
}

.form-field_input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-left: 0.5em;
}

.form-field_input:hover,
#redirect_uris:hover,
#allowed_scopes:hover,
#allowed_grants:hover,
.form-field_input:focus,
.form-field_input:active {
  border-color: rgb(0, 0, 0);
}

.form-field_input::placeholder {
  color: #8898AA;
}

.form-field_errors {
  list-style-type: none;
  margin: 4px 0 0;
  padding: 0;
  font-size: 12px;
  color: #e85746;
}

.btn_sign {
   padding: .6em 1.2em;
   border: 1px solid rgb(255, 178, 139);
   border-radius: 20px; 
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -khtml-border-radius: 20px; 
   background: rgb(255, 178, 139);
   outline: none; 
   cursor: pointer;
   color: white; 
   font-size: 1em;
   text-transform: uppercase;
   font-weight: 700;
   margin: 1em;
   text-decoration: none;
}

.btn_sign:hover {
  color: #fff;
}

.account_actions {
	margin-top: 30px;
}

#redirect_uris,
#allowed_scopes,
#allowed_grants {
	border: 1px solid lightgrey;
}

ul li {
	list-style-type: none;
}
